// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;*/
}

img{
    width: 100%;
}

#header{
    h1{
        text-align: center;
        font-size: 0;
    }
    nav{
        ul{
            margin: 0 0 3rem;
            padding: 0;
            text-align: center;
            li{
                list-style: none;
                font-size: 2rem;
                letter-spacing: 0.08rem;
                display: inline-block;
                margin: 0 2rem 0;
                @media (max-width: 664px){
                    width: 100%;
                }
                //text-transform: uppercase;
                a{
                    &.active{
                        color: #AAA;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.workPage, .contactPage, .landscapePage{
    #content{
        margin: 10rem 0;
        text-align: center;
    }
}

.landscapePage{
    #content{
        h1{
            font-size: 15rem;
        }
    }
}

.exhibitionPage, .infoPage, .conditionsPage{
    #content{
        margin: 10rem 0;
        text-align: left;
    }
}

.exhibitionRow{
    margin-bottom: 8rem;
    @media (max-width: 664px){
        text-align: center;
    }
}

.exhibitionImage{
    margin-bottom: 1rem;
}

.termsP{
    padding-top: 2rem;
    font-size: 1.2rem;
    a{
        text-decoration: underline;
    }
}

.successMessage{
    display: inline-block;
    text-align: center;
    padding: 10rem 0;
}

.enquire{
    padding-top: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

.workPage, .exhibitionPage,{
    #content{
        h2{
            font-size: 2rem;
            letter-spacing: 0.08rem;
        }
        .release{
            margin-bottom: 8rem;
        }
        .editions{
            margin-bottom: 8rem;
            @media (max-width: 664px){
                margin-bottom: 2rem;
            }
        }
    }
}

ul.contactInfo{
    li{
        margin-bottom: 4rem;
    }
}

#footer{
    text-align: center;
    font-size: 1rem;
    color: #CCC;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
