{% extends "_layout" %}

{% block content %}

	<ul class="contactInfo reveal fadeIn" data-wow-offset="100" data-wow-duration="0.6s" data-delay="0.2">
		{% for block in entry.contact %}
			<li>
				{{ block.fullName }}<br />
				<a href="tel:{{ block.phone }}">{{ block.phone }}</a><br />
				<a href="mailto:{{ block.email }}">{{ block.email }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
