{% extends "_layout" %}

{% block content %}

	{% for entry in craft.entries.section('works') %}
		<div class="row exhibitionRow">
			<div class="three columns">
				<h2>{{ entry.title }}</h2>
				{{ entry.workDescription }}
				<form method="post">
					<input type="hidden" name="action" value="charge/charge"/>
					{% set options = {
							   planAmount : entry.workPrice,
							   description : 'Framed print ' ~ entry.title,
							   checkout : {
								   name: 'BodyLandscape',
								   label : 'Purchase print',
							  } } %}
					{{ craft.charge.setCheckoutOptions(options) }}
				</form>
				<form method="post">
					<input type="hidden" name="action" value="charge/charge"/>
					{% set options = {
							   planAmount : entry.workDeposit,
							   description : 'Framed print deposit' ~ entry.title,
							   checkout : {
								   name: 'BodyLandscape',
								   label : 'Deposit',
							  } } %}
					{{ craft.charge.setCheckoutOptions(options) }}
				</form>
				<p class="termsP">
					By purchasing this art work you<br /> accept the <a href="/terms-conditions" target="_blank" rel="noreferrer noopener">Terms &amp; Conditions</a>.
				</p>
			</div>
			<div class="three columns exhibitionImage">
				{% if entry.edition1 %}
				{% else %}
					{% set images = entry.workImage %}
					{% if images and images|length %}
						{% for image in images %}
							<img src="{{ image.getUrl('scale') }}" title="{{ entry.imageTitle }}" alt="{{ entry.imageTitle }}">
						{% endfor %}
					{% endif %}
					1&nbsp;/&nbsp;3
				{% endif %}
			</div>
			<div class="three columns exhibitionImage">
				{% if entry.edition2 %}
				{% else %}
					{% set images = entry.workImage %}
					{% if images and images|length %}
						{% for image in images %}
							<img src="{{ image.getUrl('scale') }}" title="{{ entry.imageTitle }}" alt="{{ entry.imageTitle }}">
						{% endfor %}
					{% endif %}
					2&nbsp;/&nbsp;3
				{% endif %}
			</div>
			<div class="three columns exhibitionImage">
				{% if entry.edition3 %}
				{% else %}
					{% set images = entry.workImage %}
					{% if images and images|length %}
						{% for image in images %}
							<img src="{{ image.getUrl('scale') }}" title="{{ entry.imageTitle }}" alt="{{ entry.imageTitle }}">
						{% endfor %}
					{% endif %}
					3&nbsp;/&nbsp;3
				{% endif %}
			</div>
		</div>
    {% endfor %}

{% endblock %}
