{% extends "_layout" %}

{% block content %}

	<span class="successMessage">
		<h2>Thank you for your purchasing<br /> our collaboration art work.</h2>
		<h4>We will be in touch via your specified email to arrange shipping/pickup and confirm the pricing associated.</h4>
	</span>

{% endblock %}
