{% extends "_layout" %}

{% block content %}

	{#<div class="row">
		<div class="twelve columns release">
			{{ entry.body }}
		</div>
	</div>#}

	{% for entry in craft.entries.section('works') %}
		<div class="row">
			<div class="twelve columns">
				<h2>{{ entry.title }}</h2>
			</div>
		</div>
        <div class="row">
            <div class="twelve columns editions reveal fadeIn" data-wow-offset="100" data-wow-duration="0.6s">
                {% set images = entry.workImage %}
                {% if images and images|length %}
                    {% for image in images %}
                        <img src="{{ image.getUrl('scale') }}" title="{{ entry.imageTitle }}" alt="{{ entry.imageTitle }}">
                    {% endfor %}
                {% endif %}
				<p class="enquire">
					Enquire about purchasing art work - <a href="mailto:email@email.com">email@email.com</a>
				</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
