<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> {# maximum-scale=1, user-scalable=no #}

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cccccc">
	<meta name="theme-color" content="#ffffff">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = 1.061 %}

	{% includeCssFile "/assets/styles/site.min.css?v="~assetVersion %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body class="{{ entry is defined ? entry.title|lower : "landscape" }}Page">
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('/') }}" {% if craft.request.firstSegment == '' %}class="active"{% endif %}>BodyLandscape</a></li>
					<li><a href="{{ url('works') }}" {% if craft.request.firstSegment == 'works' %}class="active"{% endif %}>Works</a></li>
					<li><a href="{{ url('info') }}" {% if craft.request.firstSegment == 'info' %}class="active"{% endif %}>Info</a></li>
					<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<p>&copy; BodyLandscape {{ now.year }}</p>
		</footer>
	</div>

	<script src="{{ resourceUrl('charge/js/stripe_v2.min.js') }}"></script>
	<script src="{{ resourceUrl('charge/js/jquery.charge.js') }}"></script>
	<script>
	(function(window, undefined) {
	        Stripe.setPublishableKey('{{ craft.charge.getPublicKey() }}');
	        $(this).charge('#charge-form', '#payment-errors', '#progress-indicator');
	})(window);
	</script>

</body>
</html>
