{% extends "_layout" %}

{% block content %}

	<ul class="introImages reveal fadeIn" data-wow-offset="100" data-wow-duration="0.6s" data-delay="0.2">
		{% for block in entry.introImages %}
			{% set images = block.introImage.image|default('undefined') %}
			{% if images and images|length %}
				<li>
					{% for image in images %}
					<a href="{{ image.getUrl('scale') }}">
						<img src="{{ image.getUrl('scale') }}" title="{{ block.introImage.imageTitle }}" alt="{{ block.introImage.imageTitle }}" class="reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
					</a>
					{% endfor %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}
